.main {
  background-color: wheat;
  font-family: "Times New Roman", Arial, sans-serif;
}
.description {
  background-color: black;
  color: white;
  text-align: center;
}

.heading.recipe {
  text-align: center;
  font-size: 40px;
}

.img.recipe {
  width: 500px;
  height: auto;
}

.ingredient {
  background-color: black;
  color: white;
  text-align: center;
}

.instruction {
  background-color: black;
  color: white;
  text-align: center;
}
.index.heading {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 40px;
}

.recipe {
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px;
  width: 20%;
  margin: 20px auto;
  height: auto;
  text-align: center;
  display: block;
  border: 1px solid black;
  background-color: white;
}
